<div id="<%= slot_code %>" class="component general-content <%= expand ? 'double' : 'single' %> <%= additional_classes %>">
  <h3><%=h component.title %></h3>
  <%= link_to(image_tag(component.asset.url('200x108#', component.asset.web_image_extension)), component.link)  unless component.asset.nil? %>
  <div><%= component.content.html_safe %></div>
  <%= link_to component.link_label, component.link, :class => "more" unless component.link.blank?  %>
</div>